TestService/Connected Services/testWCF/TestWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TestWcfService/TestWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestWcfService" />
  <xs:element name="InsertCheques">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestWcfService" minOccurs="0" name="cheques" nillable="true" type="q1:Cheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChequesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestWcfService" minOccurs="0" name="GetNResult" nillable="true" type="q2:ArrayOfExportCheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>