TestService/Connected Services/testWCF/TestWCFService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TestWcfService/TestWCFService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Cheque">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Articles" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summ" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cheque" nillable="true" type="tns:Cheque" />
  <xs:complexType name="ArrayOfExportCheque">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExportCheque" nillable="true" type="tns:ExportCheque" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExportCheque" nillable="true" type="tns:ArrayOfExportCheque" />
  <xs:complexType name="ExportCheque">
    <xs:sequence>
      <xs:element minOccurs="0" name="Articles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summ" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportCheque" nillable="true" type="tns:ExportCheque" />
</xs:schema>