TestService/Connected Services/testWCF/TestWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/TestWcfService/TestWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/TestWcfService/TestWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/TestWcfService/TestWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestWcfService" />
      <xsd:import schemaLocation="http://localhost/TestWcfService/TestWCFService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestWCFService_InsertCheques_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCheques" />
  </wsdl:message>
  <wsdl:message name="ITestWCFService_InsertCheques_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertChequesResponse" />
  </wsdl:message>
  <wsdl:message name="ITestWCFService_GetN_InputMessage">
    <wsdl:part name="parameters" element="tns:GetN" />
  </wsdl:message>
  <wsdl:message name="ITestWCFService_GetN_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestWCFService">
    <wsdl:operation name="InsertCheques">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestWCFService/InsertCheques" message="tns:ITestWCFService_InsertCheques_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestWCFService/InsertChequesResponse" message="tns:ITestWCFService_InsertCheques_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetN">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestWCFService/GetN" message="tns:ITestWCFService_GetN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestWCFService/GetNResponse" message="tns:ITestWCFService_GetN_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Basic" type="tns:ITestWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCheques">
      <soap:operation soapAction="http://tempuri.org/ITestWCFService/InsertCheques" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetN">
      <soap:operation soapAction="http://tempuri.org/ITestWCFService/GetN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWCFService">
    <wsdl:port name="Basic" binding="tns:Basic">
      <soap:address location="http://localhost/TestWcfService/TestWCFService.svc/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>